// @import "/ui/src/styles/variables.scss";

.menu {
  .title {
    font-size: 16px;
    font-weight: 200;
    color: black;
  }

  .item {
    padding: 10px 10px 10px;
    width: 80%;
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;

    .descriptionitem {
      display: flex;
      gap: 5px;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .descriptiontext {
      border-radius: 20px;
      border: 2px solid rgb(138, 137, 133);
      padding: 10px 10px 10px;
      background-color: rgb(250, 253, 246);
    }
    .description-title {
      font-weight: bold;
      font-size: 18px;

      padding-bottom: 10px;
    }
    .description-text {
      font-weight: 400;
      color: rgb(164, 66, 0);
    }
  }
}
