@import "../../styles/variables.scss";

.menu {
  .title {
    font-size: 16px;
    font-weight: 200;
    color: black;
  }

  .btn-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    // color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 60px;
    text-align: center;

    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    // moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-hover:hover {
    background-position: 100% 0;
    // moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-hover:focus {
    outline: none;
  }

  .btn-hover.color {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

  .description {
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;

    .descriptionitem {
      display: flex;
      gap: 5px;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .descriptiontext {
      border-radius: 20px;
      border: 2px solid rgb(138, 137, 133);
      padding: 10px 10px 10px;
      background-color: rgb(250, 253, 246);
    }
    .description-title {
      font-weight: bold;
      font-size: 18px;

      padding-bottom: 10px;
    }
    .description-text {
      font-weight: 400;
      color: rgb(164, 66, 0);
    }
  }
}
