@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Montserrat", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}
.container {
  display: flex;
}

.menuContainer {
  width: 350px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}
.contentContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}
