* {
  background: rgba(247, 179, 43, 0.74);
}

.box {
  margin: 100px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.e-card1 {
  width: 740px;
  height: 500px;
  // background: #00ddeb;
  border-radius: 16px;
}
